@charset "UTF-8";

@font-face {
    font-family: 'idroid.otf';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue-Regular.otf';
    src: url(fontes/BebasNeue-Regular.ttf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}


:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c37;
    --cor6: #063d1e;
    --font0: Arial, Helvetica, sans-serif;
    --font1: 'BebasNeue-Regular.otf', sans-serif;
    --font2: 'idroid.otf', sans-serif;
}

body {
    background-color: var(--cor1);
    font-family: var(--font0);
}


header {
    background-image: linear-gradient(180deg, #3ddc84, #1a5c37);
    min-height: 150px;
    color: white;
    padding: 4px 10px;
    margin: auto;
    text-align: center;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.297);
}

header > h1 {
    font-family: var(--font1);
    font-weight: 400;
    font-size: 50px;
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 10px;;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.697);
}
    

header > h2 {
    font-family: var(--font0);
    font-weight: lighter;
    font-size: 18px;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.73);
}

nav > a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

nav {
    font-family: var(--font0);
    text-align: left;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 5px;
    
}

nav > a {
    margin-right: 20px;
}

nav > a:not {
    margin-right: 20px;
}

nav > a:hover {
    background-color: #2FA866; 
    padding: 0 2px 0 2px;
    border: 2px;
}


main {
    min-width: 375px;
    max-width: 800px;
    background-color: white;
    margin: auto;
    padding: 5px 20px 20px 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.41);
}

section > h1 {
    color: var(--cor5);
    font-family: 'idroid.otf', Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

article {
    margin: auto;
}

article > h2 {
    color: var(--cor5);
    background-image: linear-gradient(90deg,#c5ebd6, #FFFFFF);
    font-family: var(--font2);
    padding-left: 20px;

}

article > img {
    width: 100%;
}

article > img.pequena {
    width: 50%;
    display: block;
    margin: auto;
}

p {
    font-family: var(--font0);
    text-align: justify;   
    text-size-adjust: 100%;    
    font-size: 15px;
    line-height: 26px;
    padding: 15px 0px;
}

p::first-letter {
    margin-left: 20px;
}

div.video {
    background-color: var(--cor5);
    position: relative;
    height: 0px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 15px;
    padding-bottom: 400px;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #C5EBD6;
    border-radius: 10px;
    padding: 0px 15px 10px 15px;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.188);
}

aside > p {
    font-weight: normal;
}


h4 {
    color: white;
    padding: 15px;
    background-color: #2FA866;
}

footer {
    background-color: var(--cor5);
    color: white;
    margin-top: 20px;
}

footer > p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 12px;
}


p > a {
    text-decoration: none;
    color: #1D683F;
}

p > strong {
    color: #1D683F
}

span {
    color: white;
    font-weight: bold;
}
